@media screen and (max-width: 450px) {
    .header {
        &__contact-up-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__contact {
            background: #06d8aa;
            padding: 10px 0;
            &-block {
                display: flex;
                align-items: center;
                gap: 15px;
                &-telegram {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
                &-email {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
        &__login-buttons{
            display: flex;
            align-items: center;
            gap: 15px;

            &-login {
                padding: 7px 12px;
                border-radius: 8px;
                background: #e1e9f2;
                font-family: "Nunito";
                font-size: 12px;
                color: #222;
                cursor: pointer;
            }
            &-register {
                padding: 7px 12px;
                border-radius: 8px;
                background: #0f725c;
                font-family: "Nunito";
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                font-weight: 400;
            }
        }
        &__block {
            background-image: url('../../images/debut-light.png');
            padding: 20px 30px;
            border-bottom: 5px solid #06d8aa;
        }
        &__navigation {
            display: flex;
            align-items: center;
            gap: 30px;
            &-logo {
                border: none;
                background: none;
                max-width: 170px;
                cursor: pointer;
                &-icon {
                    min-width: 130px;
                    width: 100%;
                }
            }
            &-menu {
                display: none;
                align-items: center;
                gap: 10px;
                width: 100%;
            }
            &-link {
                color: black;
                font-size: 18px;
                font-weight: 500;
                font-family: "Nunito", sans-serif;
                cursor: pointer;
                transition: color 250ms linear;
                &:hover {
                    color: #0a9073;
                }
            }
            &-timework {
                display: none;
            }
        }
        &__mobile {
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background: rgba(0,0,0,0.9);
            opacity: 0;
            pointer-events: none;
            transform: translateX(calc(-100% - 40px));
            transition: opacity 250ms linear;
            transition-property: opacity,transform;
    
            &.active {
                opacity: 1;
                pointer-events: all;
                transform: translateX(0);
            }
    
            &-block {
                padding-top: 50px;
                padding-left: 35px ;
            }
    
            &-button {
                border: none;
                background: none;
                padding: 10px;
                cursor: pointer;
                margin-left: auto;
            }
            &-close {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: none;
                padding: 5px;
                position: absolute;
                top: 50%;
                left: calc(100% + 40px);
                border-radius: 50%;
                background: #e1e9f2;
                transform: translateX(-50%);
                cursor: pointer;
    
                &-icon {
                    width: 30px;
                    height: 30px;
                }
            }
    
            &-menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
    
                &-link {
                    color: #e1e9f2;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    transition: color 250ms linear;
                    &:hover {
                        color: #0a9073;
                    }
                }
            }
        }

    }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
    .header {
        background-image: url('../../images/debut-light.png');
        &__contact-up-block {
            display: flex;
        }

        &__contact {
            background: #06d8aa;
            padding: 10px 0;
            &-block {
                display: flex;
                align-items: center;
                gap: 15px;
                &-telegram {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
                &-email {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
        &__login-buttons{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-left: auto;

            &-login {
                padding: 7px 12px;
                border-radius: 8px;
                background: #e1e9f2;
                font-family: "Nunito";
                font-size: 12px;
                color: #222;
                cursor: pointer;
            }
            &-register {
                padding: 7px 12px;
                border-radius: 8px;
                background: #0f725c;
                font-family: "Nunito";
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                font-weight: 400;
            }
        }
        &__block {
            background-image: url('../../images/debut-light.png');
            padding: 20px 30px;
            border-bottom: 5px solid #06d8aa;
        }
        &__navigation {
            display: flex;
            align-items: center;
            gap: 30px;
            &-logo {
                border: none;
                background: none;
                max-width: 130px;
                cursor: pointer;
                &-icon {
                    min-width: 190px;
                    width: 100%;
                }
            }
            &-menu {
                display: none;
                align-items: center;
                gap: 10px;
                width: 100%;
            }
            
            &-link {
                color: black;
                font-size: 18px;
                font-weight: 500;
                font-family: "Nunito", sans-serif;
                cursor: pointer;
                transition: color 250ms linear;
                &:hover {
                    color: #0a9073;
                }
            }
            &-timework {
                display: none;
            }
           
        }
    
        &__mobile {
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            background: rgba(0,0,0,0.9);
            opacity: 0;
            pointer-events: none;
            transform: translateX(calc(-100% - 40px));
            transition: opacity 250ms linear;
            transition-property: opacity,transform;
    
            &.active {
                opacity: 1;
                pointer-events: all;
                transform: translateX(0);
            }
    
            &-block {
                padding-top: 50px;
                padding-left: 35px ;
            }
    
            &-button {
                border: none;
                background: none;
                padding: 10px;
                cursor: pointer;
                margin-left: auto;
            }
            &-close {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: none;
                padding: 5px;
                position: absolute;
                top: 50%;
                left: calc(100% + 40px);
                border-radius: 50%;
                background: #e1e9f2;
                transform: translateX(-50%);
                cursor: pointer;
    
                &-icon {
                    width: 30px;
                    height: 30px;
                }
            }
    
            &-menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
    
                &-link {
                    color: #e1e9f2;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Roboto', sans-serif;
                    cursor: pointer;
                    transition: color 250ms linear;
                    &:hover {
                        color: #0a9073;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 900px) {
    .header {
        
        &__contact-up-block {
            display: flex;
        }

        &__contact {
            background: #06d8aa;
            padding: 10px 0;
            &-block {
                display: flex;
                align-items: center;
                gap: 15px;
                &-telegram {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
                &-email {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: "Nunito";
                    font-size: 12px;
                    color: black;
                    cursor: pointer;
                    &-icon {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
        &__login-buttons{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-left: auto;

            &-login {
                padding: 7px 12px;
                border-radius: 8px;
                background: #e1e9f2;
                font-family: "Nunito";
                font-size: 12px;
                color: #222;
                cursor: pointer;
            }
            &-register {
                padding: 7px 12px;
                border-radius: 8px;
                background: #0f725c;
                font-family: "Nunito";
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                font-weight: 400;
            }
        }
        &__block {
            background-image: url('../../images/debut-light.png');
            padding: 20px 30px;
            border-bottom: 5px solid #06d8aa;
        }
        &__navigation {
            display: flex;
            align-items: center;
            gap: 30px;
            &-logo {
                border: none;
                background: none;
                max-width: 190px;
                cursor: pointer;
                &-icon {
                    min-width: 130px;
                    width: 100%;
                }
            }
            &-menu {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
            }
            &-link {
                color: black;
                font-size: 15px;
                font-weight: 500;
                font-family: "Nunito", sans-serif;
                cursor: pointer;
                transition: color 250ms linear;
                padding-bottom: 2px;
                &:hover {
                    padding-bottom: 0;
                    border-bottom: 2px solid #0c72d7;
                    text-decoration: none;
                }
            }
            &-timework {
                display: none;
               }
               @media screen and (min-width: 1000px) {
               
               &-timework {
                margin-left: auto;
                display: flex;
                flex-direction: column;
                min-width: 240px;
                &-text {
                  color: #222;
                  font-family: "Nunito";
                  font-size: 13px;
                  line-height: 17px;
                  text-align: right;
                }
              }
            }
        }
    
        &__mobile {
            display: none;
    
            &-button {
               display: none;
            }
        }
    }
}